<h2>Client</h2>

<p>Name: <%= @client.name %></p>
<p>Phone: <%= @client.phone %></p>
<p>Date and time: <%= @client.datetime %></p>
<p>Barber: <%= @client.barber %></p>
<div class="flexbox">
	<p>Color: &nbsp; </p>
	<div class="table_color_block" style="background-color: <%= @client.color %>;"></div>
</div>